$color_1: #f7f7f7;
$color_2: #000000;
$color_3: #000;
$color_4: #cbc9c9;
$color_5: #1e1d1d;
$color_6: #fc0303;
$color_7: #fffcfc;
$color_8: #fff8f8;
$color_9: #f50e0e;
$font-family_1: "roboto";
$font-family_2: "roboto";
* {
  font-family: $font-family_1;
  font-style: normal;
}
.header {
  box-sizing: border-box;
  position: relative;
  width: 1280px;
  height: 50px;
  background: #000000;
  border: 1px solid #000000;
}
.header-right {
  margin: 10px;
  a {
    float: right;
    position: static;
  }
}
.login {
  width: 91px;
  height: 32px;
  left: 1105px;
  top: 14px;
  font-family: $font-family_1;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: $color_1;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.register {
  width: 90px;
  height: 32px;
  left: 1170px;
  top: 15px;
  font-family: $font-family_1;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: $color_1;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.image-header {
  position: absolute;
  left: 24px;
  top: 10px;
  img {
    width: 116px;
    height: 32px;
  }
}
.cart-logo {
  background: url(./cart.png) no-repeat;
  width: 45px;
  height: 30px;
}
.header-left {
  float: left;
  margin-top: 10px;
}
.menu {
  position: relative;
  width: 1280px;
  height: 50px;
  background: #ffffff;
  .header-left {
    a {
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 24px;
      color: $color_2;
      padding: 20px 14px;
    }
  }
}
.card {
  margin: 20px;
  width: 307px;
  height: 369px;
  left: 70px;
  top: 153px;
  background: #f8f8f8;
}
.card-img-top {
  position: absolute;
  width: 220px;
  height: 156px;
  left: 57px;
  top: 45px;
}
.rectangle-2 {
  position: absolute;
  width: 175px;
  height: 64px;
  left: 0px;
  top: 305px;
  padding: 20px;
  background: #e1b067;
}
.rectangle-3 {
  position: absolute;
  width: 132px;
  height: 64px;
  left: 174px;
  top: 305px;
  padding: 12px;
  background: #dedddc;
}
.text-white {
  color: $color_3 !important;
  font-size: 24px;
  font-weight: 200;
  line-height: normal;
}
.price {
  color: $color_3 !important;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}
.card-title {
  position: absolute;
  width: 185px;
  height: 29px;
  left: 23px;
  top: 231px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $color_2;
}
.card-text {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 23px;
  top: 268px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: $color_4;
}
.available-size {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.size {
  width: 50px;
  height: 50px;
  left: 526px;
  top: 250px;
}
.rectangle-5 {
  display: inline-flex;
}
.btn-size {
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  width: 50px;
  height: 50px;
  top: 250px;
  left: 526px;
  color: $color_5;
  margin-right: 10px;
  border-radius: 10px;
}
.price-detail {
  width: 113px;
  height: 47px;
  left: 527px;
  top: 317px;
  font-family: $font-family_1;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: $color_6;
}
.quantity {
  width: 110px;
  height: 50px;
  display: inline-flex;
}
.quantity-num {
  font-family: $font-family_1;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: $color_2;
  width: 50px;
  height: 50px;
  top: 370px;
  left: 527px;
  border: none;
}
.quantity-down {
  font-family: $font-family_1;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: $color_7;
  background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
  width: 50px;
  height: 50px;
  top: 370px;
  left: 527px;
}
.quantity-up {
  font-family: $font-family_1;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: $color_7;
  background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
  width: 50px;
  height: 50px;
  top: 370px;
  left: 527px;
}
.btn-add {
  width: 175px;
  height: 64px;
  left: 527px;
  top: 427px;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #d017ee 89.71%);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: $color_8;
}
.add-cart {
  margin-top: 10px;
}
.error {
  flex-shrink: 0;
  color: $color_9;
  font-family: $font-family_2;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
